.formWrapper{
  min-width: 300px;
  text-align: center;

  .divider{
    margin-top: 10px;
  }

  form{
    text-align: center;

    label{
      font-size: 16px;

      span{
        color: tomato;
      }
    }

    button{
      margin-top: 16px;
    }
  }
}